

<ion-content class="ion-padding flex items-center justify-center h-full">
  <div class="text-center">
    <img src="../../assets/icon/favicon.png" alt="Logo" class="w-24 h-24 mb-8">

    <ion-card class="max-w-md">
      <ion-card-header>
        <ion-card-title>Welcome to SpeedDating</ion-card-title>
        <ion-card-subtitle>Find your match in minutes!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login(loginForm)">
          <ion-item lines="none" class="mb-4">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required class="w-full"></ion-input>
          </ion-item>

          <ion-item lines="none" class="mb-4">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required class="w-full"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="mb-4">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <p class="text-center text-gray-600">Don't have an account? <a  (click)="redirectRegister()" class="text-blue-500">Register</a></p>
  </div>
</ion-content>
