<ion-header>
  <ion-toolbar>
    <ion-title>SpeedDating Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding flex items-center justify-center h-full">
  <div class="text-center">
    <img src="../../assets/icon/favicon.png" alt="Logo" class="w-24 h-24 mb-8">

    <ion-card class="max-w-md">
      <ion-card-header>
        <ion-card-title>Create a new account</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
            <p *ngIf="registerForm.controls['email'].errors?.['required']" class="text-red-500">Email is required.</p>
            <p *ngIf="registerForm.controls['email'].errors?.['email']" class="text-red-500">Invalid email format.</p>
          </div>
      
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
            <p *ngIf="registerForm.controls['password'].errors?.['required']" class="text-red-500">Password is required.</p>
            <p *ngIf="registerForm.controls['password'].errors?.['minlength']" class="text-red-500">Password must be at least 6 characters long.</p>
          </div>
          
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
            <p *ngIf="registerForm.controls['confirmPassword'].errors?.['required']" class="text-red-500">Confirmation password is required.</p>
            <p *ngIf="registerForm.controls['confirmPassword'].errors?.['mustMatch']" class="text-red-500">Passwords must match.</p>
          </div>
      
          <ion-button expand="block" type="submit" class="mb-4" [disabled]="!registerForm.valid">Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <p class="text-center text-gray-600">Already have an account? <a (click)="goLogin()" class="text-blue-500">Login</a></p>
  </div>
</ion-content>
